.jumbotron {
  text-align: center;
  background-color: #fff;
}

.jumbotron img {
  float: left;
  transform: translateY(-45px);
}

body {
  width:100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/codebg.jpg);
  background-position: center;
}

p {
  color: white;
}

form {
  text-align: center;
}
.btn {

  color: pink;
  background-color: white;
  margin-top: 50px;
}

img {
  width: 250px;
}
.col-lg-4 {
  border: 4px solid black;
  background-color: white;
  display: inline;
}


.col-lg-4 p {
  color: black;
  text-align: center;
}



.suggestion {
  display: block;
  width: 75%;
  text-align: center;
  margin-top: 50px;
  margin-left: 12.5%;
}

#java {
  text-align: center;
  display: none;
  margin: 0 auto



}
#css {
  text-align: center;
  display: none;
  margin: 0 auto
}
#ruby {
  text-align: center;
  display: none;
  margin: 0 auto
}
