.jumbotron {
  text-align: center;
}

body {
  width:100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/codebg.jpg);
  background-position: center;
}

p {
  color: white; 
}
